*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.header
{
    width: 100vw;
    height: 70px;
    background-color: rgba(1, 1, 34, 0.8);
    overflow: auto;
    position: fixed;
    z-index: 100 ;

    .logo
    {
        float: left;
        margin-left: 90px;
    }

    .list
    {
       list-style-type: none;
       margin-left: 580px;
    }

    .list li 
    {
        display: inline;
    }

    .list li a
    {
        float: left ;
        text-decoration: none;
        color: #fff;
        margin-left: 20px;
        margin-top: 18px;
        font-size: 22px;
    }

    .login
    { 
    list-style-type: none;
    }

    .login  li  a
    {
        text-decoration: none;
        color: #fff;
        margin-right: 30px;
        font-size: 20px;
        float: right;
        margin-top: 20px;
    }
}

.home
{
    background-image: url(../images/background1.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;

    
    .overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(12, 17, 60, 0.1);
    }

    .home-content 
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 65%;
        
        font-size: 22px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        color:rgb(1, 1, 15);
    }

    .home-title
    {
        font-size: 50px;
        color:rgb(1, 1, 34);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .home-content   button
    {
        margin-top: 30px;
        height: 60px;
        width: 160px;
        font-size: 22px;
        border-radius: 5px;
    }

    .start
    {
        border: 3px    rgb(1, 1, 34)    solid ;
        background-color:    whitesmoke;
        color: rgb(1, 1, 34);
    }

    .start:hover
    {
        border: 4px    rgb(1, 1, 34)    solid ;
        background-color:    rgba(125, 124, 124, 0.568);
    }
    .more
    {
        background-color: rgba(1, 1, 34, 0.7);
        color: white;
        border: 3px     whitesmoke      solid;
    }

    .more:hover
    {
        background-color: rgb(5, 6, 47);
        border: 4px     whitesmoke      solid;
    }
}

.pricing
{

    .pricing-container
    {
        width: 85%;
        margin: auto;
        text-align: center;
    }

    .pricing-title
    {
        margin-top: 30px;
        color: rgb(1, 1, 34);
        font-size: 25px;
    }

    .pricing-title-line
    {
        margin: auto;
        background-color: rgb(2, 2, 24);
        width: 200px;
        height: 4px;  
        margin-bottom: 40px;
    }

    .pricing-plans
    {
        overflow: auto;
    }

    .pricing-plans  >   div 
    {
        float: left;
        border: 0.5px     rgb(2, 2, 24)   solid;
        width: 32%;
        height: 52.5%;
        position: relative;
    }

    .pricing-option2
    {   
        margin: 0px    2%;
    }

    .pricing-plans  >   div  h3 
    {
        font-size: 25px;
        text-transform: capitalize;
        margin: 15px    0px;
    }   

    .pricing-option-circle
    {
        width:  110px ;
        height: 110px ;
        border: 1px     solid       black;
        border-radius: 50% ;
        text-align: center;
        margin: auto;
    }

    .pricing-option-price
    {
        font: 24px bold  ;
        margin-top: 30px;
        color: #000;
    }
    
    .pricing-option-price2
    {
        font: 24px bold  ;
        color: #000;
    }

    .pricing-option-button
    {
        border: dashed 1px  rgb(65, 151, 249);
        color: rgb(65, 151, 249);
        width: 130px;
        height: 30px;
        margin: 20px    0px;
        font-size: 18px;
        transition: 0.3s;
    }

    .pricing-option-button:hover
    {
        border: solid 1px  rgb(8, 8, 8);
        color: rgba(235, 229, 229, 0.943);
        width: 130px;
        height: 30px;
        font-size: 18px;
        background-color: rgb(5, 6, 47,0.8);
    }

    .pricing-option-content     p
    {
        color: rgb(134, 153, 205);
        font-size: 21px ;
        font-family: 'Quicksand', sans-serif;
        background-color: rgba(229, 234, 253, 0.7 );
        margin-top: 20px;
    }

    .pricing-plans  > div::after {
        position: absolute;
        content: "";
    
        width: 0 ;
        height: 0 ;
    
        top:  0;
        left: 0;
    
        background-color: rgb(5, 6, 47,0.8) ;
        opacity: 0 ;
        transition: 0.7s;
        color: antiquewhite;
    }

    .pricing-plans  > div:hover::after {
        width: 100%;
        height: 100%;
        opacity: 1 ;      
        z-index: -1;  

    }

    .pricing-option:hover   
    {
        .pricing-option-title
        {
            color: antiquewhite;
        }

        .pricing-option-circle  p
        {
            color: antiquewhite;
        }
        
        .pricing-option-circle  
        {
            border-color: antiquewhite;
        }

        .pricing-option-content     p
        {
            color: rgb(5, 6, 47);
            background-color: antiquewhite;
        }

        .pricing-option-button:hover
        {
            border: solid 1px  rgb(8, 8, 8);
            color: rgb(5, 6, 47);
            background-color: antiquewhite;
        }
    

        
    }

}


.courses
{

    .courses-container
    {
        width: 84%;
        margin: auto;
        text-align: center;
    }

    .courses-title
    {
        margin-top: 50px;
        color: rgb(1, 1, 34);
        font-size: 45px;
    }

    .courses-title-line
    {
        margin: auto;
        background-color: rgb(2, 2, 24);
        width: 200px;
        height: 4px;  
        margin-bottom: 40px;
    }

    .grades
    {
        overflow: auto;
    }

    .grades     div
    {
        float: left;
        border: 1px     rgb(2, 2, 24)   solid;
        width: 32%;
        height: 35%;
        margin-bottom: 20px;
        position: relative;
    }

    .second-grade
    {
        margin: 0px     2%;
    }

    .grades div   i
    {      
        font-size: 70px;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #4d84c7;
    }

    .grades     div     h3
    {
        font-size: 25px;
        text-transform: capitalize;
    }

    .grades  div   ul li 
    {
        line-height: 30px;
        text-align: left;
        margin-left: 25px;
        margin-top: 7px;
        font-size: 20px;
    }

    .second-grade-content
    {
        margin-top: 15PX;
    }

    .third-grade-second-term-content
    {
        margin-top: 15PX;
    }

    .first-grade-second-term-content
    {
        margin-top: 15PX;
    }

    .grades > div::after
    {
        position: absolute;
        content: "";
    
        width: 0 ;
        height: 0 ;
    
        top:  0;
        left: 0;
    
        background-color: rgba(169, 170, 247, 0.8) ;
        opacity: 0 ;
        transition: 0.7s;
        color: antiquewhite;
    }
    .grades > div:hover:after
    {
        width: 100%;
        height: 100%;
        opacity: 1 ;      
        z-index: -1;  
    }

    .grades > div:hover  i
    {
        color: rgb(8, 8, 8);
    }
}

.choose-us
{
    background-image: url(../images/numbers-background.jpg);
    background-size: cover;
    background-position: scroll ;

    .choose-us-overlay
    {
        background-color: rgba(229, 234, 239, 0.5);
    }
    .choose-us-container
    {
        width: 85%;
        margin: auto;
    }

    .choose-us-content
    {
        overflow: auto;
    }

    .choose-us-p
    {
        float: left;
    }

    .choose-us-img
    {
        margin-top:  30px;
        float: right;
        width:450;
        height:300; 
    }


    .choose-us-img-buttons
    {
        list-style: none;
        text-align: center;
    }

    .choose-us-img-buttons  li 
    {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 50%;
        background-color: rgb(128, 140, 156);
    }

    .choose-us-img-buttons  li.choose-us-img-buttons-first-button
    {
        margin-left: 20px;
        margin-top: 50px;
        background-color: rgb(5, 6, 47);
    }

    
    .choose-us-title
    {
        margin-top: 30px;
        color: rgb(1, 1, 34);
        font-size: 45px;
        margin-bottom: 5px;
    }

    .choose-us-line
    {
        background-color: rgb(2, 2, 24);
        width: 220px;
        height: 3px; 
        margin-bottom: 15px; 
    }

    .choose-us-pargraph
    {
        font-size: 24px;
        margin-bottom: 10px;
        line-height: 35px;
    }
    .choose-us-list   ul   li   
    {
        list-style: none;
        line-height: 30px;
        text-align: left;
        margin-left: 25px;
        margin-top: 10px;
        font-size: 22px;
    }

    .choose-us-list   ul   li   i 
    {
        background-color: rgb(5, 6, 47);
        color: antiquewhite;
        border-radius: 50%;
        font-size: 1.5rem;
        margin-right: 8px;
    }

    .last-item
    {
        margin-bottom: 20px;
    }



}

.scores
{
    margin-top: 27%;
    position: relative;
    background-image: url(../images/numbers-background.jpg);
    height: 250px;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 4%;

    .scores-overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(8, 12, 40, 0.7);
    }

    .scores-container
    {
        width: 85%;
        margin: auto;
    }

    .scores-content
    {
        overflow: auto;
    }

    .scores-item
    {
        float: left;
        color: aliceblue;
        width: 25%;
        text-align: center;
        margin-top: 80px;
    }

    .scores-item    i 
    {
        font-size: 35px;
        color: rgb(65, 151, 249);
    }

    .scores-item    p 
    {
        font-size: 30px;
        margin-top: 5px;
        font-weight: bold;
    }
    .scores-item    h3
    {
        font-size: 25px;

    } 


    
}

.team 
{
    .team-container
    {
        width: 85%;
        margin: auto;
    }

    .team-title
    {
        margin-top: 30px;
        color: rgb(1, 1, 34);
        font-size: 45px;
        text-align: center;
    }

    .team-title-line
    {
        margin: auto;
        background-color: rgb(2, 2, 24);
        width: 150px;
        height: 4px;  
        margin-bottom: 40px;
    }

    .team-item
    {
        float: left;
        background-color: rgba(129, 181, 234, 0.575);
        width: 32%;
        padding: 14px  18px;
        text-align: center;
        position: relative;
    }

    .second-team-item
    {
        margin: 0px  2%;
    }

    .team-img 
    {
        width: 90%;
        margin: auto;
        position: relative;
    }

    .team-img  img 
    {
        width: 100%;
    }
    
    .team-overley 
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    .team-overley a 
    {
        display: block;
        width: 40px;
        height: 40px;
        background-color: rgb(53, 171, 240);
        color: #fff;
        font-size: 23px ;
        margin-left: auto ;
    }
    
    .team-overley  a  i 
    {
        line-height: 40px ;
    }
    
    .team-info-title 
    {
        text-transform: uppercase;
        padding: 12px  0px;
        color: rgb(81, 71, 59);
    }

    .team-info-sp1 
    {
        text-transform: capitalize;
        color: rgb(179, 176, 176);
    }

    .team-item:hover  .team-info-title 
    {
        color: rgb(1, 1, 34);
    }

    .team-item:hover  .team-info-sp1 
    {
        color: rgb(26, 26, 129);
    }

    .team-item::after
    {
        position: absolute;
        content: "";
    
        width: 100% ;
        height: 0 ;
    
        top:  0;
        left: 0;
    
        background-color: rgba(80, 82, 239, 0.8) ;
        opacity: 0 ;
        transition: 0.7s;
        color: antiquewhite;
    }

    .team-item:hover:after
    {
        width: 100%;
        height: 100%;
        opacity: 1 ;      
        z-index: -1;  
    }

    
}






  